[dev]
  framework = "vite"
  targetPort = 5174

[functions]
  directory = "netlify/functions"

[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

