:root, :root[data-theme='light'] {
    --bg-color: #F1E7DD;
    --header-bg: #7A9590;
    --text-color: #26211E;
}

:root[data-theme='dark'] {
    --bg-color: #26211E;
    --header-bg: #7A9590;
    --text-color: #F1E7DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--bg-color);
}



.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
    background-color: var(--header-bg);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}










