:root {
    --bg-color: #F1E7DD;
    --header-bg: #7A9590;
    --text-color: #26211E;
}

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: var(--bg-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #7A9590;
}

