@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root, :root[data-theme='light'] {
    --bg-color: #F1E7DD;
    --header-bg: #7A9590;
    --text-header: #F1E7DD; 
    --text-color: #26211E;
}

:root[data-theme='dark'] {
    --bg-color: #26211E;
    --header-bg: #7A9590;
    --text-header: #F1E7DD;
    --text-color: #26211E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--text-header);
}

a:hover {
    color: var(--text-color);
}

li, h2 {
    font-family: "Montserrat", sans-serif;
    color: var(--header-bg);
}

h2 {
    font-weight: 400;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
    background-color: var(--header-bg);
    font-family: "Montserrat", sans-serif;
    color: var(--text-header);
}

.header--text {
    font-family: "Zain", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
}

.header__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.logo--projeto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25px;
    height: 22px;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--text-header);
    cursor: pointer;
    transition: ease-in-out .4s;
}

#resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.lista--registrados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.item--lista--registrados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    min-width: 358px;
    min-height: 1.2rem;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

#adicionarSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.adicionar--gato--titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#adicionarSection > div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza label e input */
    width: 100%;
    margin-bottom: 0.5rem;
}

#adicionarSection label {
    align-self: center;
    margin-bottom: 0.2rem;
}

#adicionarSection input {
    width: 250px; /* Ou outro valor desejado */
}

#adicionarSection button {
    align-self: center;
}






