@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root, :root[data-theme='light'] {
    --bg-color: #F1E7DD;
    --header-bg: #7A9590;
    --text-color: #26211E;
}

:root[data-theme='dark'] {
    --bg-color: #26211E;
    --header-bg: #7A9590;
    --text-color: #F1E7DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--bg-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
    background-color: var(--header-bg);
    font-family: "Montserrat", sans-serif;
}

.header--text {
    font-family: "Zain", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}










